:root{
	background-color: black;
}
.App {
	margin-top:20px;
	font-family: sans-serif;
	text-align: center;
	background-color: black;
	color: white;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-around;
}